/* ANIMATIONS
============================================================================= */
/* Simple fade animation using CSS3 transitions. Effect is applied to all enter events */
/* ngAnimate adds and removes CSS classes to different Angular directives when 
they enter or leave the view. So, the partial html loaded gets an .ng-enter class.
All we have to do is apply a CSS animation to that .ng-enter class and that will
be applied upon entry.*/
/* See more CSS3 transition options here: https://www.w3schools.com/css/css3_transitions.asp */
.ng-enter {
	transition:2s ease;
	opacity:0;
}

.ng-enter.ng-enter-active {
    -webkit-transition-delay: 0.8s; /* Safari */
    transition-delay: 0.8s;
	opacity:1;
}